// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.adPanel {
  background-color: #d9d9d9;
  border-width: 3px;
  border-style: solid;
  margin-left: 20px;
  padding-left: 20px;
  width: 500px;

  .row {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.adImage {
  height: 300px;
}

.adName {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}


